.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.AppHeader {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.AppFooter {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.SideMenuAndPageContent {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  /* background-color: rgba(0, 0, 0, 0.05) ; */
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
}
.SideMenu {
  height: 100%;
}
.SideMenuVertical {
  margin-right: 30px;
  height: 100%;
  padding-top: 30px;
  border-radius: 10px 10px;
  width: 10rem;
}
.PageContent {
  flex: 1;
  padding-left: 12px;
  border-radius: 10px 10px;
}
