

body {
    font-family: "Arial",sans-serif;
}
body {
    font-size: 13px;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
letter-spacing:0}
.navbar-header{
background-color:transparent !important;
}
#top-nav{font-size:12px;}
.topnav-sidebar #lang_sel_click a.lang_sel_sel, .topnav-sidebar #lang_sel a.lang_sel_sel {
border-left: inherit;
}
.topnav-sidebar #lang_sel_click a.lang_sel_sel::after, .topnav-sidebar #lang_sel a.lang_sel_sel::after{
content:"";
}
#bottom h2.widget-title{
font-size:14px;
}
.content-pad{padding-bottom: 0px;}
@media only screen and (min-width:1366px) and (min-height:768px){
.blog-item{min-height:350px;}
}
.normal-sidebar .widget ul li:before {
font-weight:bold;
font-size: 15px;
}
.normal-sidebar .widget ul li:before:hover {
color:black;
}
#top-nav .navbar.navbar-inverse li .wpml-ls-first-item a {
width: 120px;
}
.rtejustify{text-align: justify;}
.item-content h6{text-align: justify;}
h3, .h3 {
font-size: 19px;
}
/*change image size*/
.content-pad .blog-thumbnail .item-thumbnail a img{ width:360px !important; height:240px !important;}

/* change font-size title of right sidebar*/
#sidebar .widget_nav_menu .widget-title {
font-size: 17px !important;
}
#main-nav .main-menu.affix .navbar-nav>li>a {
text-transform: inherit;
}
.menu-item-depth-0 a:before {
border-left: none!important;
}

.navbar-right .menu-item-depth-0 .main-menu-link{
border-right: 1px solid rgba(255,255,255,.15);
}

.container .navbar-right .menu-item-depth-0 .main-menu-link{
padding-left: 30px;
padding-right: 30px!important;
/*padding-top: 30px!important;*/
text-transform: none;
font-weight: inherit;
height: 84px!important;
}
#nav-menu-item-4886 a{
border-right: none;
}

#main-nav.nav-style-1 .navbar{
background: #253b80;
}
#main-nav.nav-style-1 .navbar{
background: #253b80;
min-height: 80px;
}
.navbar-header{
height: 84px;
margin-top: -10px;
}
.main-menu .navbar-right:first-child{
margin-right: -15px!important;
}
.top-menu .navbar-nav li a{
padding-left: 20px;
padding-right: 20px;
}


.post-scroller-wrap{
background: rgba(255,255,255,.65);
}

body{
color: #015198;
}

.navbar-header{
background-color: white;
}

.alignnone {
margin: 5px 20px 20px 0;
}
.aligncenter, div.aligncenter {
display:block;
margin: 5px auto 5px auto;
}
.alignright {
float:right;
margin: 5px 0 20px 20px;
}
.alignleft {
float:left;
margin: 5px 20px 20px 0;
}
.aligncenter {
display: block;
margin: 5px auto 5px auto;
}
a img.alignright {
float:right;
margin: 5px 0 20px 20px;
}
a img.alignnone {
margin: 5px 20px 20px 0;
}
a img.alignleft {
float:left;
margin: 5px 20px 20px 0;
}
a img.aligncenter {
display: block;
margin-left: auto;
margin-right: auto
}
.wp-caption {
background: #fff;
border: 1px  solid #f0f0f0;
max-width: 96%; /* Image does not overflow the content area */
padding: 5px 3px 10px;
text-align: center;
}
.wp-caption.alignnone {
margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
margin: 5px 0 20px 20px;
}
.wp-caption img {
border: 0 none;
height: auto;
margin:0;
max-width: 98.5%;
padding:0;
width: auto;
}
.wp-caption p.wp-caption-text {
font-size:11px;
line-height:17px;
margin:0;
padding:0 4px 5px;
}		

.pull-left>img{border-radius:50%;}

.post-item-mini{padding-bottom:10px;}

.vc_gitem-is-link{ height:205px;}
/*------------. thay doi event .-------------*/
.grid-item-inner{ min-height:320px;}
.grid-item-inner{position: relative;}
.event-item:hover .event-thumbnail img,
.event-item.hover_effect .event-thumbnail img{
-webkit-transform: scale(1.0);
transform: scale(1.0);
}
.event-overlay {
bottom: initial;
}
.event-thumbnail a img {
width:300px !important;
height: 200px !important;
max-height: 200px;
}
.overlay-top {border-bottom: initial;padding: 15px 0 0 0;text-align: center;}
.post-carousel-item .grid-item-inner {border-bottom: initial;}
.overlay-top:after {display:none;}
#test .wpb_single_image.vc_align_center {
margin-bottom: 0px !important;
}
#test .vc_col-has-fill>.vc_column-inner, .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row_inner>.vc_row>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, .vc_section.vc_section-has-fill, .vc_section.vc_section-has-fill+.vc_row-full-width+.vc_section, .vc_section.vc_section-has-fill+.vc_section {
padding-top: 0px !important;
}
#test .vc_column-inner .wpb_wrapper .wpb_single_image{ margin-bottom:0px !important;}
#sukien_noibat .section-inner{padding-bottom: 0px;}
/*---------------. font-size su kien noi bat .-----------*/
.dark-div h1, .dark-div h2, .dark-div h3, .dark-div h4, .dark-div h5, .dark-div h6, .dark-div .btn-primary {
font-size: 16px;
}
/*------. An ten ngon ngu .------------*/
.wpml-ls-legacy-dropdown-click .wpml-ls-flag+span {
display: none;
}
/*anhnv edit*/



/*---Hotline-----------------*/
.hotline:hover {
color: #fff;
text-decoration: none;
background: #263b80;
}
.hotline:visited {
color: #fff;
}
.hotline {
display: inline-block;
background: #1688c5;
color: #fff;
position: fixed;
left: 10%;
bottom: 0;
border-radius: 5px 5px 0 0;
font-weight: bold;
font-size: 1.5rem;
padding: 1px 12px;
transform: translate3d(-50%, 0, 0);
white-space: nowrap;
z-index: 9999;
}