<<<<<<< HEAD
.ant-table-thead > tr > th{
	background-color: #48CAE4 !important; /* Thay đổi màu nền của header */
=======
.ant-table-thead > tr > th {
  background-color: #006ca5 !important; /* Thay đổi màu nền của header */
>>>>>>> 6737ea9737eb4865f685b4daaac2f9b4a352533d
  /* font-size: ; */
}

/* .ant-table-tbody > tr > td { */
/* background-color: #c5ecf6;  */
/* Thay đổi màu nền của các hàng */
/* font-size: 14px; */
/* } */

.odd-row {
<<<<<<< HEAD
	background-color: #ADE8F4; /* light gray */
}

.even-row {
	background-color: #CAF0F8; /* white */
=======
  background-color: #55e2e9; /* light gray */
}

.even-row {
  background-color: #93e9ee; /* white */
}
.ant-pagination .ant-pagination-item a {
  margin: 0;
}
.ant-pagination .ant-pagination-item {
  margin-inline-end: 0px;
}
.ant-pagination .ant-pagination-prev {
  /* margin-inline-end: 0px; */
>>>>>>> 6737ea9737eb4865f685b4daaac2f9b4a352533d
}
