.ant-table-thead > tr > th{
	background-color: #F891C0 !important; /* Thay đổi màu nền của header */
  /* font-size: ; */
}

/* .ant-table-tbody > tr > td { */
	/* background-color: #c5ecf6;  */
	/* Thay đổi màu nền của các hàng */
	/* font-size: 14px; */
/* } */

.row-odd {
	background-color: #FFE2FD; /* light gray */
}

.row-even {
	background-color: #FCC9ED; /* white */
}
