<h2 style="display: flex; margin: auto;">Login</h2>

<input type="text" name="username" placeholder="Username" /><br>
<input type="password" name="password" placeholder="Password" /><br>
<button type="submit">Login</button>
